.layout-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 60px auto;
  grid-template-rows: 200px auto;
  grid-template-areas: "sidebar header" "sidebar dash";
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.dash {
  background-color: #FFB4A2;
  grid-area: dash;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 auto);
  grid-template-areas: "announcements trending" "projects projects";
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

/* Tablet Dimensions*/
@media screen and (min-width: 768px) {
  .dash {
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "projects projects announcements" "projects projects announcements" "projects projects announcements" "projects projects trending" "projects projects trending" "projects projects trending";
  }
}
/* Desktop Dimensions */
@media screen and (min-width: 992px) {
  .layout-grid {
    grid-template-columns: 300px auto;
  }
}
/* The following code was taken from this codepen to create a CSS-only
 * hamburger menu:
 * https://codepen.io/andreykrokhin/pen/mGEqja */
.sidebar #sidebar-checkbox {
  opacity: 0;
}
.sidebar #sidebar-checkbox:checked ~ .hamburger-button > span {
  transform: rotate(45deg);
}
.sidebar #sidebar-checkbox:checked ~ .hamburger-button > span::before {
  top: 0;
  transform: rotate(0);
}
.sidebar #sidebar-checkbox:checked ~ .hamburger-button > span::after {
  top: 0;
  transform: rotate(90deg);
}
.sidebar #sidebar-checkbox:checked ~ nav {
  visibility: visible;
  left: 0;
}
.sidebar .hamburger-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 1;
}
.sidebar .hamburger-button > span,
.sidebar .hamburger-button > span::before,
.sidebar .hamburger-button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #FFB4A2;
  transition-duration: 0.25s;
}
.sidebar .hamburger-button > span::before {
  content: "";
  top: -12px;
}
.sidebar .hamburger-button > span::after {
  content: "";
  top: 12px;
}
.sidebar nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  padding-top: 80px;
  transition-duration: 0.25s;
  overflow: auto;
}

/* Tablet Dimensions*/
@media screen and (min-width: 768px) {
  .sidebar nav {
    width: 300px;
  }
}
/* Desktop Dimensions */
@media screen and (min-width: 992px) {
  .sidebar #sidebar-checkbox,
.sidebar .hamburger-button {
    display: none;
  }
  .sidebar nav {
    visibility: visible;
    padding-top: 20px;
    left: 0;
  }
}
.sidebar {
  background-color: #6D6875;
}
.sidebar nav {
  padding-left: 20px;
  background-color: #6D6875;
  color: #FFCDB1;
  font-weight: bold;
}
.sidebar nav .logo {
  margin-bottom: 24px;
}
.sidebar nav .logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.sidebar nav .logo span {
  font-size: 2.2rem;
  vertical-align: middle;
}
.sidebar nav ul {
  display: grid;
  grid-auto-rows: minmax(auto, 42px);
  gap: 8px;
}
.sidebar nav ul li {
  list-style: none;
  font-size: 2rem;
}
.sidebar nav ul li a {
  display: inline-block;
  text-decoration: none;
  height: 42px;
  width: 100%;
}
.sidebar nav ul li a:visited {
  color: #FFCDB1;
}
.sidebar nav ul li a img {
  width: 32px;
  height: 32px;
  margin: 5px 6px;
}
.sidebar nav ul li a span {
  vertical-align: top;
}

.header {
  background-color: #FFCDB1;
  color: #6D6875;
  display: grid;
  font-weight: bold;
  grid-template-areas: "search profile" "greeting buttons";
  grid-template-columns: 60% auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 16px 32px;
}
.header .search {
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .search img {
  width: 32px;
}
.header .search input {
  border-radius: 16px;
  border: none;
  background-color: #B5838D;
  color: #FFCDB1;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  flex-grow: 1;
}
.header .search input:focus {
  outline: 2px solid #E5989B;
}
.header .profile-corner {
  grid-area: profile;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-self: end;
}
.header .profile-corner .bell {
  width: 32px;
}
.header .profile-corner .avatar {
  width: 48px;
}
.header .greeting {
  grid-area: greeting;
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "avatar hi" "avatar name";
  column-gap: 16px;
}
.header .greeting .avatar {
  height: 100%;
  grid-area: avatar;
}
.header .greeting .name {
  font-size: 1.5rem;
}
.header .post-buttons {
  grid-area: buttons;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
}
.header .post-buttons button {
  background: #B5838D;
  border: none;
  height: 40px;
  border-radius: 20px;
  color: #FFCDB1;
  flex-basis: 120px;
  flex-grow: 0;
  flex-shrink: 1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
