@use 'color';

$half-unit: 16px;
$unit: 32px;
$double-unit: 64px;

.dash {
  background-color: color.$c2;
  grid-area: dash;
  display: grid;
  grid-template-rows: repeat(3 auto);
  grid-template-areas: "announcements"
  "trending"
  "projects";
  gap: $half-unit;
  padding: $unit $half-unit $double-unit $half-unit;

  color: color.$c5;

  .card {
    background-color: color.$c1;
    border-radius: $half-unit;
    padding: $unit $unit $half-unit $half-unit;
  }

  .projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
    align-content: space-between;
    gap: $unit;

    h2 {
      grid-column: 1 / -1;
    }

    .card {
      border-left: $half-unit solid color.$c4;
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: auto repeat(3, $unit);
      grid-template-areas: "title title title title"
      "desc  desc  desc  desc"
      "....  fave  watch share";
      column-gap: $half-unit;

      .card-title {
        grid-area: title;
        font-weight: bold;
        font-size: 1.25rem;
      }

      .card-description {
        grid-area: desc;
      }

      img {
        width: $unit;
      }

      .fave {
        grid-area: fave;
      }

      .watch {
        grid-area: watch;
      }

      .share {
        grid-area: share;
      }
    }
  }

  .announcements,
  .trending {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: $unit;
    }

    .card {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .announcements {
    grid-area: announcements;

    .news {
      padding: $half-unit;

      .news-title {
        font-weight: bold;
      }
    }

    hr {
      border: none;
      border-top: 1px solid color.$c3;
    }
  }

  .trending {
    grid-area: trending;

    .profile {
      display: grid;
      grid-template-columns: $double-unit auto;
      grid-template-rows: repeat(auto);
      grid-template-areas: "avatar name"
      "avatar title";
      column-gap: $half-unit;

      margin-bottom: $half-unit;

      .avatar {
        grid-area: avatar;
      }

      .name {
        grid-area: name;
        align-self: end;
        font-weight: bold;
      }

      .title {
        grid-area: title;
        align-self: start;
        color: color.$c4;
      }
    }
  }
}

/* Tablet Dimensions*/
@media screen and (min-width: 768px) {
  .dash {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "announcements trending"
    "projects projects";

    .projects {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      align-content: space-between;
    }
  }
}

/* Desktop Dimensions*/
@media screen and (min-width: 992px) {
  .dash {
    grid-template-columns: repeat(3, 1fr) minmax(300px, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "projects projects projects announcements"
    "projects projects projects announcements"
    "projects projects projects announcements"
    "projects projects projects trending"
    "projects projects projects trending"
    "projects projects projects trending";
  }
}

