@use 'color';

$double-unit: 64px;
$unit: 32px;
$half-unit: 16px;

.header {
  display: grid;
  grid-template-areas: "profile"
                       "search"
                       "buttons";
  align-items: center;
  padding: $half-unit $unit;
  row-gap: $half-unit;

  background-color: color.$c1;
  color: color.$c5;
  font-weight: bold;

  .search {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: $half-unit;

    img {
      width: $unit;
      height: $unit;
      background-color: color.$c4;
      -webkit-mask-image: url(../img/search.svg);
      mask-image: url(../img/search.svg);
      margin-top: 3px;
    }

    input {
      border-radius: $half-unit;
      border: none;
      background-color: color.$c4;
      color: color.$c1;
      height: $unit;
      padding-left: $half-unit;
      padding-right: $half-unit;
      width: 100%;

      &:focus {
        outline: 2px solid color.$c3;
      }
    }
  }

  .profile-corner {
    grid-area: profile;
    justify-self: end;

    display: flex;
    align-items: center;
    gap: $unit;

    .bell {
      width: $unit;
      height: $unit;
      background-color: color.$c4;
      -webkit-mask-image: url(../img/alert.svg);
      mask-image: url(../img/alert.svg);
    }
    .avatar {
      width: calc($unit * 1.5);
    }
  }
  .greeting {
    grid-area: greeting;
    display: none;
    grid-template-columns: $double-unit auto;
    grid-template-rows: auto auto;
    grid-template-areas: "avatar hi"
                         "avatar name";
    column-gap: $half-unit;

    .avatar {
      width: 100%;
      grid-area: avatar;
    }
    .name {
      font-size: 1.5rem;
    }
  }
  .post-buttons {
    grid-area: buttons;
    justify-self: end;
    display: flex;
    width: 100%;
    gap: $half-unit;

    button {
      background: color.$c4;
      border: none;
      height: calc($unit * 1.25);
      border-radius: calc($half-unit * 1.25);
      color: color.$c1;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

/* Desktop Dimensions */
@media screen and (min-width: 1050px) {
  .header {
    grid-template-areas: "search profile"
                         "greeting buttons";
    grid-template-columns: 60% auto;
    grid-template-rows: 1fr 1fr;

    .greeting {
      display: grid;
    }

    .search {
      input {
        flex-grow: 1;
        flex-shrink: 1;
        width: unset;
      }
    }

    .post-buttons {
      justify-content: flex-end;

      .buttons {
        flex-basis: 120px;
      }
    }
  }
}
