.layout-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 60px auto;
  grid-template-areas: "sidebar header"
  "sidebar dash";
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.dash {
  grid-area: dash;
}

/* Desktop Dimensions */
@media screen and (min-width: 1050px) {
  .layout-grid {
    grid-template-columns: 300px auto;
    grid-template-rows: 200px auto;
  }
}
