@use 'color';
@use "hamburger_menu";

.sidebar {
  background-color: color.$c5;

  img {
    width: 32px;
    height: 32px;
    background-color: color.$c1;
  }

  nav {
    padding-left: 20px;
    background-color: color.$c5;
    color: color.$c1;
    font-weight: bold;

    .logo {
      margin-bottom: 24px;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        width: 64px;
        height: 64px;
        -webkit-mask-image: url(../img/dog.svg);
        mask-image: url(../img/dog.svg);
      }

      span {
        font-size: 2.2rem;
        vertical-align: middle;
      }
    }

    ul {
      display: grid;
      grid-auto-rows: minmax(auto, 42px);
      gap: 8px;

      li {
        list-style: none;
        font-size: 2rem;

        a {
          display: inline-block;
          text-decoration: none;
          height: 42px;
          width: 100%;
          color: color.$c1;

          &:visited {
            color: color.$c1;
          }

          img {
            margin: 5px 6px;
          }

          span {
            vertical-align: top;
          }
        }
      }
    }
  }
}

.home {
  -webkit-mask-image: url(../img/home.svg);
  mask-image: url(../img/home.svg);
}

.profile {
  -webkit-mask-image: url(../img/profile.svg);
  mask-image: url(../img/profile.svg);
}

.messages {
  -webkit-mask-image: url(../img/messages.svg);
  mask-image: url(../img/messages.svg);
}

.history {
  -webkit-mask-image: url(../img/history.svg);
  mask-image: url(../img/history.svg);
}

.tasks {
  -webkit-mask-image: url(../img/tasks.svg);
  mask-image: url(../img/tasks.svg);
}

.communities {
  -webkit-mask-image: url(../img/communities.svg);
  mask-image: url(../img/communities.svg);
}

.settings {
  -webkit-mask-image: url(../img/settings.svg);
  mask-image: url(../img/settings.svg);
}

.support {
  -webkit-mask-image: url(../img/support.svg);
  mask-image: url(../img/support.svg);
}

.privacy {
  -webkit-mask-image: url(../img/privacy.svg);
  mask-image: url(../img/privacy.svg);
}

