@import "hamburger_menu";

$color-1: #FFCDB1;
$color-2: #FFB4A2;
$color-3: #E5989B;
$color-4: #B5838D;
$color-5: #6D6875;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.layout-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 60px auto;
  grid-template-rows: 200px auto;
  grid-template-areas: "sidebar header"
  "sidebar dash";
}

.sidebar {
  background-color: $color-5;
  grid-area: sidebar;

  .hamburger-button > span,
  .hamburger-button > span::before,
  .hamburger-button > span::after {
    background-color: $color-2;
  }

  nav {
    padding-left: 20px;
    background-color: $color-5;
    color: $color-1;
    font-weight: bold;

    .logo {
      margin-bottom: 24px;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
      }

      span {
        font-size: 2.2rem;
        vertical-align: middle;
      }
    }

    ul {
      display: grid;
      grid-auto-rows: minmax(auto, 42px);
      gap: 8px;

      li {
        list-style: none;
        font-size: 2rem;

        a {
          display: inline-block;
          text-decoration: none;
          height: 42px;
          width: 100%;

          &:visited {
            color: $color-1;
          }

          img {
            width: 32px;
            height: 32px;
            margin: 5px 6px;
          }

          span {
            vertical-align: top;
          }
        }
      }
    }
  }
}

.header {
  background-color: $color-1;
  grid-area: header;
}

.dash {
  background-color: $color-2;
  grid-area: dash;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 auto);
  grid-template-areas: "announcements trending"
  "projects projects";
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

/* Tablet Dimensions*/
@media screen and (min-width: 768px) {
  .dash {
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "projects projects announcements"
    "projects projects announcements"
    "projects projects announcements"
    "projects projects trending"
    "projects projects trending"
    "projects projects trending";
  }
}

/* Desktop Dimensions */
@media screen and (min-width: 992px) {
  .layout-grid {
    grid-template-columns: 300px auto;
  }
}
