@use "layout";
@use "navbar";
@use "header";
@use "dash";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
}

img {
  -webkit-mask-size: cover;
  mask-size: cover;
}
